<!-- <div class="container">
  <div class="row">
    <div class="col-xl-6">
      <div class = "box">
        <div id="element" #element><div class="resizer">Element resizable</div>></div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="box" #box>
          <div
            class="rectangle"
            [ngStyle]="style"
            appResizable
            [validateResize]="validate"
            [resizeEdges]="{bottom: false, right: true, top: true, left: false}"
            [enableGhostResize]="true"
            [resizeSnapGrid]="{left: 10, right: 10}"
            (resizeEnd)="onResizeEnd($event)">
            <span>{{yRange}}</span>
            <span class="pull-right spanBottom">{{xRange}}</span>
            <div
              class="resize-handle"
              appResizeHandle
              [resizeEdges]="{bottom: false, right: true, top: true, left: false}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div style="margin-left:70%"><h3>From {{yRange < xRange ? yRange : xRange}} TO {{yRange > xRange ? yRange : xRange}}</h3></div>
        <div style="margin-left:75%"><h1>{{validBids}}</h1></div>
      </div>
  </div>
</div>

